@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Katalog filmów</h1>
    <p class="lead">Strona zawiera katalog filmów wraz z ocenami i opisem.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Przeglądaj filmy</a></p>
</div>

<div class="row">
   
</div>