@model IEnumerable<MoviesApp.Models.Tag>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Katalog filmów</h1>
    <p class="lead">Strona zawiera katalog filmów wraz z ocenami i opisem.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Przeglądaj filmy</a></p>
</div>

<div class="row">
    <h2>Przeglądaj po tagach</h2>
    @foreach(var tag in Model)
    {
        <h4>@tag.Name</h4>
    }
</div>