@{
    ViewBag.Title = "Szukaj po tagach";
}
<h2>@ViewBag.Title</h2>


<div class="row">
    <form method="get">
        <input type="text" name="search" value="" />
        <input type="submit" value="Szukaj" />

    </form>

</div>
