@model IEnumerable<MoviesApp.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var movie in Model)
{
    @Html.Partial("_SingleMovie", movie)
}
